<!-- Start Header -->
<header id="hero" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://res.cloudinary.com/di985lta5/image/upload/v1550760150/astrology-astronomy-atmosphere-1693085.jpg);">
  <div class="container">

    <div class="hero-area">
      <div class="hero-top">
        <h2>Voyagez dans le monde entier avec Cabin&b </h2>
        <p>Saisissez les dates et le nombre de voyageurs pour voir le prix total par nuit. Des taxes de séjour peuvent s'ajouter.</p>
      </div>
    </div>

  </div>
</header>
<!-- Stop Header -->


<!-- Start select form -->
<section id="featured-cabins">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="featured-cabins-area">
          <%= form_tag cabins_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a cabin"
          %>
          <% end %>

<!-- End select form -->

<!-- Start card -->
  <div class="featured-cabins-content">
    <div class="row">
        <% @cabins.each do |cabin| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cabin.picture %>');">
              <div class="card-description">
              <%= cabin.name %>
              </div>
              <%= cabin.max_people %> peoples - rating <%= cabin.rating %> <%= link_to "show me the cabin", cabin_path(cabin) %>
           </div>
          </div>
        <% end %>
       </div>
      </div>
    </div>
  </div>
</section>
<!-- End cards -->

<!-- Start MAP -->
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<!-- End MAP -->


