

<h2> <%= @cabin.name %></h2>

<br/> <%= @cabin.daily_rate %>
<br/> <%= @cabin.description %>
<br/> <%= @cabin.rating %>
<br/> <%= @cabin.daily_rate %>
<br/> <%= @cabin.address %>
<br/> <%= link_to(image_tag(@cabin.picture)) %>
<br/> <%= @cabin.kitchen %>
<br/> <%= @cabin.lake %>
<br/> <%= @cabin.hot_water %>
<br/> <%= @cabin.wifi %>
<br/> <%= @cabin.beach %>
<br/> <%= @cabin.mountain %>
<br/> <%= @cabin.user_id %>


<br/>
<%= link_to "back to list", cabins_path %>
<br/><br/><br/><br/><br/>
