

<h2> <%= @cabin.name %></h2>

<br/> <%= @cabin.daily_rate %>
<br/> <%= @cabin.description %>
<br/> <%= @cabin.rating %>
<br/> <%= @cabin.daily_rate %>
<br/> <%= @cabin.address %>
<br/> <%= link_to(image_tag(@cabin.picture)) %>
<br/> <%= @cabin.kitchen %>
<br/> <%= @cabin.lake %>
<br/> <%= @cabin.hot_water %>
<br/> <%= @cabin.wifi %>
<br/> <%= @cabin.beach %>
<br/> <%= @cabin.mountain %>
<br/> <%= @cabin.user_id %>


<br/>
<%= link_to "back to list", cabins_path %>
<br/>

<h3> Réserver <%= @cabin.name %> </h3>

  <%= simple_form_for [@cabin, @booking] do |f| %>
coucou
    <%= f.input :check_in %>
    <%= f.input :check_out %>

    <%= f.submit "Book Now " %>

  <% end %>







<br/><br/><br/><br/>
